.progressbtn
{
   /* background-color: rgb(175, 183, 192); 
   color: rgb(54, 51, 51); 
   font-size: 10px;
   font-weight: bold;
   padding-left: 5px;
    */
   padding-right: 5px !important;
    margin: 0.5rem  !important;
    border-radius: 1.5rem;
    padding: 6px 10px !important; /* Adjust padding as per your preference */
    margin: 10px; /* Adjust margin as per your preference */
    border-radius: 5px; /* Rounded corners */
    font-size: 10px;
    font-weight: bold;
    color: #ffffff; /* Text color */
    background-color: #007bff !important; /* Button background color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out !important;




    /* Reset some default button styles */

    appearance: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;

  

}
  .progressbtn:hover {
    background-color: #72a3d6 !important; /* Change background color on hover */
    transform: scale(1.05); /* Add a slight scale effect on hover */
  }
  


.mappingarea
{
    display: grid ; 
    grid-template-columns: 1.5fr 1fr 1fr 0.5fr 0.5fr  ;
margin: 0.5rem !important;
    width: 100vh;
    justify-content: space-between;
}
.taskpriority{
    font-size: 10px;

}
.progressbar
{
    width: 20px;
    height: 20px;
}
.deleteedit
{
    /* display: flex; 
    align-content: end;
    align-items: end; */
}